{% extends 'base.html.twig' %}

{% block title 'home' | trans %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-info"> {{ message }} </div>
    {% endfor %}

    {{ 'home' | trans }}
{% endblock %}